{% extends "base.html" %}
{% block encabezado %}Gestion parentesco{% endblock %}
{% block encabezadofor %} Lista parentesco familiar  {% endblock  %}
{% block js %}
<script>
  function eliminarParentesco(id) {
    Swal.fire({
      "title": "¿ Estas seguro que deseas Eliminar el Registro?",
      "text": "¡ No podras revertir esto!",
      "icon": "warning",
      "showCancelButton": true,
      "confirmButtonColor": "#d33",
      "cancelButtonColor": true,
      "confirmButtonText": " Si, Eliminar ", 
      "cancelButtonText": " Cancelar ",      
    })
    .then(function(result) {
      if (result.isConfirmed){ 
        window.location.href="/parEliminar/" +id+ " "
      }
    })
    
  }
</script> 
{% endblock %}
{% block contenido %} 
<div class="col-md-12">
  <div class="row"id="grupo__nota">
    <div class="col-md-6">
      <form action="#" id="formulario6" method="GET">
        <div class="btn-group">
          <input type="text" name="buscar" class="form-control" id="nota"/>
          <p class="formulario__input-error">""</p>
          <button type="submit" class="btn btn-primary btn-sm">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <a
        class="btn btn-primary btn-sm"
        style="float: right"
        href="{% url 'parCrear' %}"
        ><i class="fas fa-plus fa-sm"></i> Nuevo</a
      >
    </div>
  </div>
</div>
<br />
<div class="card shadow mb-4">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="table-responsive">
      <table
        class="table table-striped"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            
            <th>Nombre</th>
            <th style="text-align: right;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for parentesco in parentescos %}
            {% if parentesco.estado_par == 1 %}
              <tr>
                
                <td>{{parentesco.nombre_par}}</td>
                <td style="float: right">
                    <a class="btn btn-primary btn-sm " href="{% url 'parEditar' parentesco.id_par %}"><i class="fas fa-pen"></i></a>
                    <a class="btn btn-danger btn-sm " href="#" onclick="eliminarParentesco({{ parentesco.id_par }})"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>  
  </div>  
</div>  
<nav aria-label="Page navigation">
  <ul class="pagination">
      {% if parentescos.has_previous %}
          <li class="page-item">
              <a class="page-link" href="?page=1" aria-label="Primera">
                  <span aria-hidden="true">&laquo;&laquo;</span>
              </a>
          </li>
          <li class="page-item">
              <a class="page-link" href="?page={{ parentescos.previous_page_number }}" aria-label="Anterior">
                  <span aria-hidden="true">&laquo;</span>
              </a>
          </li>
      {% endif %}
      <li class="page-item disabled">
          <span class="page-link">Página {{ parentescos.number }} de {{ parentescos.paginator.num_pages }}</span>
      </li>

      {% if parentescos.has_next %}
          <li class="page-item">
              <a class="page-link" href="?page={{ parentescos.next_page_number }}" aria-label="Siguiente">
                  <span aria-hidden="true">&raquo;</span>
              </a>
          </li>
          <li class="page-item">
              <a class="page-link" href="?page={{ parentescos.paginator.num_pages }}" aria-label="Última">
                  <span aria-hidden="true">&raquo;&raquo;</span>
              </a>
          </li>
      {% endif %}
  </ul>
</nav>

{% endblock  %}

