{% extends "base.html" %}
{% block encabezado %}Gestion estudio{% endblock %}
{% block encabezadofor %} Formulario de registro {% endblock %}
{% block contenido %} 
<div class="card shadow mb-4">
  <!-- creacion del container para la entrada de datos -->
  <div class="container p-2 my-2 border">
    <div class="row justify-content-center">
      <form action="{% url 'estGuardar' %}" id="formulario1" method="POST">
        {% csrf_token %}
        <div class="row"  id="grupo__nombre">
          <div class="col-sm-12">
              <label  class="form-label">Nivel de Estudio</label>
              <abbr class='fas fa-question-circle' title="Campo de tipo de nivel de estudio realizado."></abbr>
              <input type="text"  id="nombre" class="text-uppercase form-control" name="nombre_est" "autofocus placeholder="Ej: basico"required>
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
          </div>
        </div> 
        <div class="row" id="grupo__nombre">
          <div class="col-sm-12" >
          <p class="formulario__input-error">El campo solo puede contener letras</p>  
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <button type="submit" style="float: right" class="btn btn-primary btn-sm"><i class="fas fa-check fa-sm"></i>Guardar
            </button>
          </div>
          <div class="col-md-6">
                <a class="btn btn-dark btn-sm " href="{% url 'estLista' %}"><i class="fas fa-arrow-left fa- sm"></i>Volver</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock  %}
