{% extends "base.html" %}
{% block encabezado %}Gestion tipo documento{% endblock %}
{% block encabezadofor %} Lista de documentacion de la persona {% endblock  %}
{% block js %}
<script>
  function eliminarDocumento(id) {
    Swal.fire({
      "title": "¿ Estas seguro que deseas Eliminar el Registro?",
      "text": "¡ No podras revertir esto!",
      "icon": "warning",
      "showCancelButton": true,
      "confirmButtonColor": "#d33",
      "cancelButtonColor": true,
      "confirmButtonText": " Si, Eliminar ", 
      "cancelButtonText": " Cancelar ",      
    })
    .then(function(result) {
      if (result.isConfirmed){ 
        window.location.href="/docEliminar/" +id+ " "
      }
    })
    
  }
</script> 
{% endblock %}
{% block contenido %} 
<div class="col-md-12">
  <div class="row"id="grupo__nota">
    <div class="col-md-6">
      <form action="#" id="formulario6" method="GET">
        <div class="btn-group">
          <input type="text" name="buscar" class="form-control" id="nota"/>
          <p class="formulario__input-error">""</p>
          <button type="submit" class="btn btn-primary btn-sm">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <a
        class="btn btn-primary btn-sm"
        style="float: right"
        href="{% url 'docCrear' %}"
        ><i class="fas fa-plus fa-sm"></i> Nuevo</a
      >
    </div>
  </div>
</div>
<br />
<div class="card shadow mb-4">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="table-responsive">
      <table
        class="table table-striped"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            
            <th>Nombre</th>
            <th style="text-align: right;">Acciones</th>
          </tr>
        </thead>
        
        <tbody>
          {% for docum in documentos %}
            {% if docum.estado_doc == 1 %}
              <tr>
                
                <td>{{docum.nombre_doc}}</td>
                <td style="float: right">
                  
                    <a class="btn btn-primary btn-sm " href="{% url 'docEditar' docum.id_doc %}"><i class="fas fa-pen"></i></a>
                    |
                    <a class="btn btn-danger btn-sm " href="#" onclick="eliminarDocumento({{ docum.id_doc }})"><i class="fas fa-trash"></i></a>
                  
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
  <nav aria-label="Page navigation">
    <ul class="pagination">
        {% if documentos.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Primera">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ documentos.previous_page_number }}" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link">Página {{ documentos.number }} de {{ documentos.paginator.num_pages }}</span>
        </li>

        {% if documentos.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ documentos.next_page_number }}" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ documentos.paginator.num_pages }}" aria-label="Última">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
  </nav>
    
{% endblock  %}

