{% extends "base.html" %}
{% block encabezado %}Gestión proyecto{% endblock %}
{% block encabezadofor %}Formulario de registro{% endblock %}
{% block contenido %}

<div class="card shadow mb-4">
  <div class="container p-3">
    <div class="row justify-content-center">
      <form action="{% url 'proyGuardar' %}" id="formulario7" method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="col-sm-3">
            <label class="form-label">Sistema de zona</label>
            <select name="lenguajes" id="lenguajes" class="form-control">
              <option value="">-Seleccione-</option>
              {% for zona in zonas %}
                {% if zona.estado_zon == 1 %}
                  <option value="{{ zona.id_zon }}">{{ zona.nombre_zon }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="col-sm-3">
            <label class="form-label">Fiscales C.R.E.</label>
            <select name="fiscal_proy" id="selectProducto" class="form-control" disabled>
              <!-- Opciones se llenan dinámicamente con JavaScript -->
            </select>
          </div>
          <div class="col-sm-3" id="grupo__proyecto">
            <label class="form-label">Proyecto</label>
            <input type="text" class="form-control text-uppercase" name="nombre_proy" id="proyecto" placeholder="" required>
            <i class="formulario__validacion-estado fas fa-times-circle"></i>
            <p class="formulario__input-error">Dato no permitido y solo 11 digitos</p>
          </div>
          <div class="col-sm-3" id="grupo__grafo">
            <label class="form-label">Grafo</label>
            <abbr class="fas fa-question-circle" title="Número único de registro que el cliente CRE crea."></abbr>
            <input type="number" class="form-control text-uppercase" name="grafo_proy" id="grafo" placeholder="" required>
            <i class="formulario__validacion-estado fas fa-times-circle"></i>
            <p class="formulario__input-error">Dato no permitido y solo números</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-3" id="grupo__trafo">
            <label class="form-label">Transformador de Ref.</label>
            <abbr class="fas fa-question-circle" title="Es la placa de los transformadores de luz que tienen como referencia el municipio y la Uv. en la que se encuentran instalados."></abbr>
            <input type="text" class="form-control text-uppercase" name="trafo_proy" id="trafo" placeholder="">
            <i class="formulario__validacion-estado fas fa-times-circle"></i>
            <p class="formulario__input-error">Dato no permitido  y solo 20 dígitos</p>
          </div>
          <div class="col-sm-3">
            <label class="form-label">Fecha Creación-CRE</label>
            <abbr class="fas fa-question-circle" title="Fecha de creación del proyecto que genera el cliente CRE."></abbr>
            <input type="date" class="form-control text-uppercase" name="fechaRecep_proy" required>
          </div>
          <div class="col-sm-3">
            <label class="form-label">Fecha Diseño-Aproximado</label>
            <abbr class="fas fa-question-circle" title="Fecha límite que asigna el cliente CRE. para el diseño del proyecto."></abbr>
            <input type="date" class="form-control text-uppercase" name="fechaDisen_proy" required>
          </div>
          <div class="col-sm-3">
            <label class="form-label">Fecha Construcción</label>
            <abbr class="fas fa-question-circle" title="Fecha límite aproximado que asigna el cliente CRE. para la ejecucion del proyecto."></abbr>
            <input type="date" class="form-control text-uppercase" name="fechaConst_proy" required>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-6">
            <label class="form-label">Nota</label>
            <input type="text" maxlength="70" class="form-control text-uppercase" name="nota_proy" title="Máximo 70 caracteres" placeholder="">
            
          </div>
          <div class="col-sm-6" id="grupo__direccion">
            <label class="form-label">Ubicación</label>
            <input type="text" maxlength="100" class="form-control text-uppercase" name="ubicacion_proy" id="direccion" title="Máximo 100 caracteres" placeholder="" required>
            <i class="formulario__validacion-estado fas fa-times-circle"></i>
            <p class="formulario__input-error">El campo no permite ese dato y solo puede contener máximo 100 caracteres</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-sm float-right"><i class="fas fa-check fa-sm"></i>Guardar</button>
          </div>
          <div class="col-md-6">
            <a class="btn btn-dark btn-sm" href="{% url 'proyLista' %}"><i class="fas fa-arrow-left fa-sm"></i>Volver</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const lenguajes = document.querySelector('#lenguajes');
    const selectProducto = document.querySelector('#selectProducto');

    lenguajes.addEventListener('change', () => {
      selectProducto.innerHTML = '';
      const valorOption = lenguajes.value;

      if (valorOption) {
        {% for fiscal in fiscales %}
          if ('{{ fiscal.zona_fis_id }}' == valorOption) {
            const option = document.createElement('option');
            option.value = '{{ fiscal.id_fis }}';
            option.textContent = '{{ fiscal.nombre_fis }} {{ fiscal.apellidoP_fis }}';
            selectProducto.appendChild(option);
          }
        {% endfor %}
        selectProducto.disabled = false;
        $(selectProducto).select2();
      } else {
        selectProducto.disabled = true;
      }
    });
  });
</script>
{% endblock %}

