<div id="cargoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="cargoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <strong class="modal-title">REGISTRO DE CARGO</strong>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <form id="formulario13" method="POST" action="{% url 'cargGuardarM' %}">
                        {% csrf_token %}
                        <div class="row mb-3" id="grupo__nombre_car">
                            <div class="col-sm-12">
                                <label for="nombre_car">Nombre cargo</label>
                                <input type="text" class="text-uppercase form-control" name="nombre_carg" id="nombre_car" placeholder="" required>
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                <p class="formulario__input-error">El campo solo puede contener letras</p>
                            </div>
                        </div>
                        <br>
                        <div class="row" >
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>   
            </div>
        </div>
    </div>
</div>

<script>
// Si prefieres abrir el modal desde un botón fuera del modal
$('#abrirModalCargo').click(function() {
    $('#cargoModal').modal('show');
});
function guardarDatosYCerrarModal() {
    var formData = $('#formulario13').serialize();
    $.ajax({
        url: "{% url 'cargGuardarM' %}",
        type: "POST",
        data: formData,
        success: function(response) {
            // Opcional: Actualiza el contenido del modal si es necesario
            $('#cargoModal .modal-content').html(response);
            // Cierra el modal
            $('#cargoModal').modal('hide');
        },
        error: function(xhr, status, error) {
            console.error(xhr.responseText);
        }
    });
}
</script>

